.textAlanı {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  font-size: 30px;
  overflow: hidden;
  display: inline-block;
  word-break: break-word;
  table-layout: fixed;
  line-height: 50px;
  word-spacing: 10px;
}
.text {
  width: 50%;
  margin: 10px auto;
  height: 150px;
  background-color: white;
}
.correctWord {
  color: green;
}
.wrongWord {
  background-color: red;
}
